.container{
position: relative;
width: 990px;
margin: 0px auto;
/*background-color: red;    */
}


#header{
    position: relative;
    top:50px;
    width:300px;
}


#navi{

    position:relative;
/*    top:11px;*/
/*    left: -10px;*/
    
    

    vertical-align: baseline;
    text-align: right;
    line-height: 36px;
    font-family: sans-serif;
    font-size: 1.6em;
    color:red;
    
/*    border-bottom: 1px black dotted;*/
}


#navi ul li{
     padding-right: 8px   
}


#navi a{
    text-decoration: none;
    color: inherit;
}


#sosmed{
    float: right;
    top:20px;
    position: relative;
}


#sosmed img{
 margin-left: 6px;   
}








#navi li:hover{
    color:purple;
    background-color: pink;
}


#navi li{
  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);   
    border: 1px pink solid;
}









#content,#content_event,#content_news,#content_contact,#content_idol{
    position: absolute;
/*    top:300px;*/
    top:40%;
    left: 520px;
    width: 800px;
    font-family: monospace
}


#content_event,#content_news,#content_contact,#content_idol{
  display: none;   
}




#content h1{
 color:pink;
font-size: 2em;
margin-bottom: 16px;    
    
}

#content p{
 font-size: 1.2em;
line-height:1.5em;
}

