.container{
position: relative;
width: 990px;
margin: 0px auto;
/*background-color: red;    */
}


#header{
    position: relative;
    top:50px;
    width:300px;
}


#navi{
/*
    position:relative;
    top:11px;
*/
    vertical-align: baseline;
    text-align: right;
    line-height: 36px;
    font-family: sans-serif;
    font-size: 1.6em;
    color:red;
    
    border-bottom: 1px black dotted;
}


#sosmed{
    float: right;
    top:20px;
    position: relative;
}


#sosmed img{
 margin-left: 6px;   
}








#navi li:hover{
    color:purple;
}









#content{
    position: absolute;
/*    top:300px;*/
    top:50%;
    left: 520px;
    width: 800px;
    
}